DEBUG_COLORS=true
DEBUG=app:*
NODE_ENV=dev

# BITFINEX
BITFINEX_AFF_CODE=MhocY6Xfp
BITFINEX_API_KEY=
BITFINEX_API_SECRET=

# TELEGRAM
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# gcloud
# GOOGLE_APPLICATION_CREDENTIALS=

INPUT_AUTO_RENEW_3="
USD:
  amount: 0
  rank: 0.8
  rateMax: 0.01
  rateMin: 0.0001
  period:
    3: 0.00027397
    7: 0.00041096
    21: 0.00068493
    30: 0.00082192
UST:
  amount: 0
  rank: 0.8
  rateMax: 0.01
  rateMin: 0.0001
  period:
    3: 0.00027397
    7: 0.00041096
    21: 0.00068493
    30: 0.00082192
"
